<nav>
	<header>
		<h1 class="header">Simple Blog App</h1>
	</header>
	<ul>
		<li><a href="/">Blogs </a></li>
		<li><a href="/about">About </a></li>
		<li><a href="/blogs/create">Add Blog</a></li>
	</ul>
</nav>
