<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

		<div class="about content">
			<h2>About this app</h2>
			<br />
			<p>This is a simple blog app building by node.js, express, mongo, and mongoose.</p>
			<br />
			<p>
				This page is a practices for building a backend apps, since I want to practice express routing, therefore even
				such a simple app have a about page. And I'm trying to type something in order to make the content of this about
				page looks more abundant.
			</p>
			<br />
			<p>Thanks for playing this app, and hope you enjoy this!</p>
		</div>
	</body>
</html>
